@import url('cr-dojo-dijits.css');

.plugin-slr {
color:#000;	
}

.fi-info {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.info-circle.fa-stack{
width: 14px;
height: 14px;
line-height: 10px;
}	

.info-circle-text {
color:#fff;
font-size:9px;
font-weight:bolder;
}

/* base CSS element */
.slr-tooltip {
position:absolute;
display:none;
z-index: 1000000;
padding: 10px;
border-radius: 2px;
max-height:400px; 
max-width:200px; 
left:0px; 
top:0px; 
background-color: #ccd5d5; 
border: 1px solid #ccd5d5;
color: #555;
font-size: 13px;
font-weight: normal;
text-align:center;
line-height: 15px;
}

.slr-tooltip span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.slr-tooltip:after, .slr-tooltip:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.slr-tooltip:after {
border-color: rgba(68, 68, 68, 0);
border-top-color: #ccd5d5;
border-width: 5px;
margin-left: -5px;
}
.slr-tooltip:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #ccd5d5;
border-width: 6px;
margin-left: -6px;
}

.plugin-slr .styled-select {
position: relative;
width: 125px;
height: 36px;
overflow:hidden;
cursor: pointer;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}
 
.plugin-slr .styled-select:after {
content: '\f078';
font: 12px FontAwesome;
color: #ddd;
right: 2px;
top: 4px;
padding: 6px 5px 6px 2px;
position: absolute;
background:#ffffff;
pointer-events: none;
opacity:1.0;
}
 
.plugin-slr .styled-select select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
height: 32px;
padding: 5px;
font-size: 14px;
color: #333333;
background: transparent;
border:0;
border-radius:0
cursor: pointer;
}

.plugin-slr .fa-question-circle{
color:#226491;
color:#000000;
margin:-3px 1px 0px 0px;
cursor:pointer;
font-size:14px;
vertical-align:middle;
}

.plugin-slr .styled-radio [type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
.plugin-slr .styled-radio  label {
  display: block;
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
}

.plugin-slr .styled-radio  [type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
.plugin-slr .styled-radio  [type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: 1px;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0096d6;
  margin-right: 15px;
  transition: 0.5s ease all;
  -webkit-font-smoothing: antialiased;
}

/* the checked style using the :checked pseudo class */
.plugin-slr .styled-radio  [type="radio"]:checked + span:before {
  background: #0096d6;
  box-shadow: 0 0 0 2px #0096d6;
  -webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox{
max-width:175px;
display:inline-block;
}

.plugin-slr .styled-checkbox input[type="checkbox"] {
display: none;
}

.plugin-slr .styled-checkbox div {
max-width:175px;
}

.plugin-slr .styled-checkbox div:before {
position: relative;
top: 1px;
font-family: "FontAwesome";
font-style: normal;
font-size:14px;
width: 1em;
height: 1em;
content:'\f096';
margin-right: 7px;
color:#0096d6;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:checked ~ div:before {
content:'\f14a';
color:#0096d6;
margin-right: 6px;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:disabled ~ div:before {
content:'\f096';
color:#ccc;
margin-right: 7px;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:disabled ~ div span {
color:#ccc;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:not(disabled) ~ div span {
color:#000;
}

.plugin-slr .downloadButton {
width: 33px;
height: 35px;
background:#94959C;
border:1px solid #94959C;
border: none;
line-height: 35px;
border-radius: 5px;
display:inline-block;
padding: 0px 0px 0px 10px;
color:#ffffff;
display:inline-block;
position: relative;
margin-left: 5px;
overflow: hidden;
cursor:pointer;
}

.plugin-slr .downloadText{
width:0px;
overflow:hidden;
margin-right: 5px;
}

.plugin-slr .downloadIcon{
margin-right: 7px;
}

.plugin-slr .hazard-description {
position:relative;
width:100%;
height:auto;
padding:0px;
margin:0px;
line-height: 12px;
font-size: 12px;
text-align: center;
padding: 0px 3px;
color: #9a9fa5;
}

.plugin-slr .hazard-description  a {
color: #0096d6;	
}


.plugin-slr .hazard-description  a:hover {
color: #80c2de;	
}

.plugin-slr .hazard-description  a:visited {
color: #80c2de;	
}

.plugin-slr .utility-control {
position:absolute;
right: 35px;
bottom: 5px;
cursor:pointer;
}

.plugin-slr .utility {
position: absolute;
width: 75px;
height: 20px;
bottom: 4px;
right: 95px;
display:none;
background: #fff;
}

/* .utility .dijitSliderH div.dijitSliderImageHandleH  {
border: 1px solid #b5bcc7;
background: #b5bcc7;
}

.utility .dijitSliderH div.dijitSliderProgressBarH, .utility .dijitSliderH div.dijitSliderLeftBumper  {
border-color: #b5bcc7;
background: #fff;	
}
 */
.utility .dijitSliderDisabled div.dijitSliderProgressBarH, .utility .dijitSliderDisabled div.dijitSliderLeftBumper, .utility .dijitSliderDisabled div.dijitSliderRightBumper  {
background:#efefef;
border-color: #d3d3d3;
}
