@import url('cr-dojo-dijits.css');

.plugin-slr {
color:#000;	
}

.fi-info {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.info-circle.fa-stack{
width: 14px;
height: 14px;
line-height: 10px;
cursor:pointer;
}	

.info-circle-text {
color:#fff;
font-size:9px;
font-weight:bolder;
cursor:pointer;
}

/* base CSS element */
.slr-tooltip {
position:absolute;
display:none;
z-index: 1000000;
padding: 10px;
border-radius: 2px;
max-height:450px; 
max-width:275px; 
left:0px; 
top:0px; 
background-color: #ccd5d5; 
border: 1px solid #ccd5d5;
color: #555;
font-size: 13px;
font-weight: normal;
text-align:center;
line-height: 15px;
}

.slr-tooltip span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.slr-tooltip:after, .slr-tooltip:before {
top: 50%;
right: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.slr-tooltip:after {
border-color: rgba(68, 68, 68, 0);
border-right-color: #ccd5d5;
border-width: 5px;
margin-top: -5px;
}
.slr-tooltip:before {
border-color: rgba(204, 204, 204, 0);
border-right-color: #ccd5d5;
border-width: 6px;
margin-top: -6px;
}

.plugin-slr .styled-select {
position: relative;
width: 125px;
height: 36px;
overflow:hidden;
cursor: pointer;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}
 
.plugin-slr .styled-select:after {
content: '\f078';
font: 12px FontAwesome;
color: #ddd;
right: 2px;
top: 4px;
padding: 6px 5px 6px 2px;
position: absolute;
background:#ffffff;
pointer-events: none;
opacity:1.0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.plugin-slr .styled-select:after {
		font: 11px FontAwesome;
		right: 0px;
		top: 0px;
		padding: 10px 7px;
	}
}
 
.plugin-slr .styled-select select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
height: 32px;
padding: 5px;
font-size: 14px;
color: #333333;
background: transparent;
border:0;
border-radius:0
cursor: pointer;
}

.plugin-slr .fa-question-circle{
color:#226491;
color:#000000;
margin:-3px 1px 0px 0px;
cursor:pointer;
font-size:14px;
vertical-align:middle;
}

.plugin-slr .styled-radio [type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
.plugin-slr .styled-radio  label {
  display: block;
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
}

.plugin-slr .styled-radio  [type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
.plugin-slr .styled-radio  [type="radio"] + span:before {
position: relative;
top: 3px;
display: inline-block;
width: 16px;
height: 16px;
content:'';
border-radius: 100%;
background: #fff;
box-shadow: inset 0 0 0 2px #dddddd;
transition: 0.25s ease all;
-webkit-font-smoothing: antialiased;
margin-right: 5px;
}

/* the checked style using the :checked pseudo class */
.plugin-slr .styled-radio  [type="radio"]:checked + span:before {
border-radius: 100%;
box-shadow: inset 0 0 0 5px #0096d6;
}

.plugin-slr .styled-checkbox{
max-width:175px;
display:inline-block;
}

.plugin-slr .styled-checkbox input[type="checkbox"] {
display: none;
}

.plugin-slr .styled-checkbox div {
max-width:175px;
}

.plugin-slr .styled-checkbox div:before {
position: relative;
top: 1px;
font-family: "FontAwesome";
font-style: normal;
font-size:14px;
width: 1em;
height: 1em;
content:'\f096';
margin-right: 7px;
color:#0096d6;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:checked ~ div:before {
content:'\f14a';
color:#0096d6;
margin-right: 6px;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:disabled ~ div:before {
content:'\f096';
color:#ccc;
margin-right: 7px;
-webkit-font-smoothing: antialiased;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:disabled ~ div span {
color:#ccc;
}

.plugin-slr .styled-checkbox input[type="checkbox"]:not(disabled) ~ div span {
color:#000;
}

.plugin-slr .storm-toggle {
margin: 25px 0 0 0;
position: relative;
}

.plugin-slr .storm-toggle-container {
display:none;	
}

.plugin-slr .storm-toggle-header, .plugin-slr .storm-toggle-table {
position: relative;
display:inline-block;
width: 275px;
padding:2px 0px 2px 0px;
cursor:pointer;
font-weight: bold;
}

.plugin-slr .storm-toggle-subitem {
padding-left:15px;
font-weight: normal;
}

.plugin-slr .storm-toggle-td {
padding: 4px 0px;
}

.plugin-slr .storm-toggle-subitem .fa-question-circle {
margin:-3px 2px 0px 5px;	
}


.plugin-slr .toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.plugin-slr .toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.plugin-slr .toggle-switch {
margin: 25px 0 0 0;
position: relative;
}

.plugin-slr .toggle-switch-text {
position: relative;
display:inline-block;
width: 225px;
top: -7px;
margin: 5px 0;
}

.plugin-slr input.toggle-round + label {
  padding: 3px;
  width: 39px;
  height: 20px;
  background-color: #2B2E3B;
  border-radius: 20px;
  transition: background 0.2s;
  position:relative;
  display:inline-block;
}
.plugin-slr input.toggle-round + label:before,
.plugin-slr input.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
}
.plugin-slr input.toggle-round + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 3px;
  background-color: #fff;
  border-radius: 20px;
  transition: background 0.2s;
}
.plugin-slr input.toggle-round + label:after {
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 14px;
  background-color: #2B2E3B;
  border-radius: 20px;
  transition: margin 0.2s, background 0.2s;
}

.plugin-slr input.toggle-round:checked + label {
  background-color: #0096d6;
}

.plugin-slr input.toggle-round:checked + label:after {
  margin-left: 18px;
  background-color: #0096d6;
}

.plugin-slr .downloadButton {
width: 33px;
height: 35px;
background:#94959C;
border:1px solid #94959C;
border: none;
line-height: 35px;
border-radius: 5px;
display:inline-block;
padding: 0px 0px 0px 10px;
color:#ffffff;
display:inline-block;
position: relative;
margin-left: 5px;
overflow: hidden;
cursor:pointer;
}

.plugin-slr .downloadText{
width:0px;
overflow:hidden;
margin-right: 5px;
}

.plugin-slr .downloadIcon{
margin-right: 7px;
}

.plugin-slr .hazard-description {
position:relative;
width:100%;
height:auto;
padding:0px;
margin:0px;
line-height: 12px;
font-size: 12px;
text-align: center;
padding: 0px 3px;
color: #9a9fa5;
}

.plugin-slr a:link {
color: #0096d6;
}

.plugin-slr a:hover {
color: #80c2de;
}

.plugin-slr a:visited {
color: #0096d6;
}

.plugin-slr a:active {
color: #e7a938;	
}

.plugin-slr .hazard-footer {
position:relative;
width:100%;
height:auto;
padding:0px;
margin:0px;
line-height: 12px;
font-size: 12px;
text-align: left;
padding: 10px 20px;
color: #9a9fa5;
}

.plugin-slr .utility-control {
position:absolute;
right: 35px;
bottom: 5px;
cursor:pointer;
}

.plugin-slr .utility {
position: absolute;
width: 75px;
height: 20px;
bottom: 4px;
right: 95px;
display:none;
background: #fff;
}

/* .utility .dijitSliderH div.dijitSliderImageHandleH  {
border: 1px solid #b5bcc7;
background: #b5bcc7;
}

.utility .dijitSliderH div.dijitSliderProgressBarH, .utility .dijitSliderH div.dijitSliderLeftBumper  {
border-color: #b5bcc7;
background: #fff;	
}
 */
.utility .dijitSliderDisabled div.dijitSliderProgressBarH, .utility .dijitSliderDisabled div.dijitSliderLeftBumper, .utility .dijitSliderDisabled div.dijitSliderRightBumper  {
background:#efefef;
border-color: #d3d3d3;
}

.plugin-slr div.dijitRuleLabel.dijitRuleLabelH {
white-space:nowrap;	
}

.plugin-slr .toggle-btn label {
box-shadow:none;
display: flex;
align-items: center;
justify-content: center;	
}

.plugin-slr.info-graphic {
position:relative;
height: 28px;
margin-top: -2px;
margin-right: 10px;
display: inline-block;
padding: 2px 2px 0px 2px;  	
}

.tinner .tclose {
color:#333333 !important;	
}

.tinner .tclose:hover {
color:#333333 !important;	
}

.plugin-slr.slr-tooltip .slr-table {
font-size:9px;
text-align: center;
width:100%;
}

.plugin-slr.slr-tooltip .slr-table  th{
text-align: center;
font-weight: bold;
font-size: 10px;	
}

.plugin-slr.slr-tooltip .slr-table .scenario{
font-weight: bold;
font-style: italic;
font-size: 10px;	
}

.plugin-slr .slr-chart-container {
padding: 0px 0px 10px 0px;
}

.plugin-slr .slr-chart-header {
line-height: 1;
text-align: center;
padding: 10px 10px 0px 20px;
font-weight:bold;
}

.plugin-slr .slr-chart-legend text {
font-size:11px;	
}

.plugin-slr .categories  rect {
stroke: #bbbbbb;
}

.plugin-slr .categories.active  rect {
stroke: #000000;
}

.plugin-slr .axis text {
  font: 10px sans-serif;
}

.plugin-slr .axis path,
.plugin-slr .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plugin-slr .x-axis-title {
font: 10px sans-serif;
}

.plugin-slr .slr-images-container {
position:relative;
display: none;
}

.plugin-slr .slr-images-header {
line-height: 1;
text-align: left;
padding: 20px 0px 10px 0px;
}

.plugin-slr .slr-images-content {
line-height: 1;
text-align: left;
padding:0px;
margin: 0px 0px 10px 0px;
position: relative;
}

.plugin-slr .slr-images-content img {
border: 1px solid #ccc;
box-shadow: 0 2px 5px #bbb;
}

.plugin-slr .slr-images-image img {
max-width:100%;
height:auto;
}

.plugin-slr .slr-images-close {
position:absolute;
width:16px;
height:16px;
top:5px;
right:5px;
color:#fff;
text-align: center;
line-height: 16px;
cursor:pointer;
}

.plugin-slr .slr-partners-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 10px;
}